.cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cart-title{
    width: 100%;
    text-align: center;
    height: 100px;
    background: linear-gradient(180deg, rgb(255, 170, 43) 0%, rgba(255,255,255,1) 90%);
}
.cart-item{
    width: 700px;
    height: 250px;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 15px rgb(207, 186, 156);
    border-radius: 25px;
    margin: 30px;
}
.cart-item img{
    width: 200px;
}
.cart-item .description{
    width: 100%;
    font-size: 30px;
    margin-left: 30px;
}

.count-handler input{
    width: 30px;
    text-align: center;
    font-weight: bolder;
}

.checkOut button{
    width: 150px;
    height: 50px;
    background-color: rgb(67, 143, 224);
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
}


@media(max-width:800px){
    .cart-item{
        width: 100%;
    }
}
@media(max-width:512px){
    .cart-item{
        width: 90%;
    }
}