.login {
    width: 100%;
    height: 80vh;
    background: linear-gradient(180deg, rgb(255, 170, 43) 0%, rgba(255,255,255,1) 90%);
    padding-top: 100px;
}

.login-container {
    width: 580px;
    height: 600px;
    background: white;
    margin: auto;
    padding: 40px 60px;
    border-radius: 15px;
}
.login-container  h1 {
    text-align: center;
    margin: 20px 0px;
}

.login-fields {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}
.login-fields input {
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}

.login-container button {
    width: 500px;
    height: 72px;
    color: white;
    background: #ff4141;
    margin-top: 30px;
    margin-left: 50px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 15px;
}
.login-have {
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
.login-have span {
    color: #ff4141;
    font-weight: 600;
    cursor: pointer;
}
.login-agree {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}


@media(max-width:800px){
 .login-container {
    width: 400px;
    height: 600px;
    padding: 30px 50px;
 }
 .login-container button{
    margin-left: 38px;
    width: 333px;
 }
}
@media(max-width:512px){
    .login-container {
       width: 300px;
       height: 600px;
       padding: 30px 50px;
       margin-top: -30px;
    }
    .login-container button{
       margin-left: 30px;
       width: 250px;
    }
   }